/* font */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
/* ### Primary */

--Pink: hsl(322, 100%, 66%);

/* ### Neutral */

--Very-Pale-Cyan: hsl(193, 100%, 96%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);
}


body{
    margin:0;
    padding:0;   
}

/* Utility */
.h1{
    font-family: 'Poppins', sans-serif;

}
.rounded-border-radius{
    border-radius: 10px;
}

.bg-color{
    background:url(./images/bg-hero-desktop.svg);
}

/* Nav bar */
.nav-btn {
    background-color: #fff;
    color: var(--Very-Dark-Cyan);
    }

.nav-btn:hover {
    color: var(--Very-Dark-Cyan);
    font-size: 17px;
    box-shadow: -6px 3px 36px -7px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -6px 3px 36px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -6px 3px 36px -7px rgba(0, 0, 0, 0.75);
    
}

/* hero-section */
.hero-btn{
    background-color: var(--Pink);
    color:#fff;
    font-size: 16px;
}
.hero-btn:hover{
    color:var(--Very-Pale-Cyan);
    font-size: 17px;
    box-shadow: -6px 3px 36px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px 3px 36px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 3px 36px -7px rgba(0,0,0,0.75);
    
}



/* Cards */
.card-shadow{
    box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
-webkit-box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
-moz-box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
}

.card-content {
    color: var(--Grayish-Blue);
}

/* floating card */
.floating-card{
    top:40px;
    width:60%;
}
.floating-card-btn{
    color:#fff;
     font-family: 'Poppins', sans-serif;
     /* width:40%; */
     background-color:var(--Pink);

    }

.floating-card-btn:hover{
    color:#fff;
    font-weight:550;
    box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px -2px 17px 1px rgba(0,0,0,0.37);
    
}
/* footer */
.footer{
    margin-top:250px;
    background-color:var(--Very-Pale-Cyan);
    font-family: 'Poppins',sans-serif;
}
.footer-logo{
    width:15%;
    margin-top:50px;
    color:#fff;
}
.row a{
   text-decoration: none;
    margin-bottom:5px;
}
.row a:hover{
    text-decoration:underline #000 ;
    color:var(--Pink);
    
}

/* Icon section */

.circle{
    padding: 0.8rem .8rem;
    border: #000 solid thin;
    border-radius: 50%;
    color: #000;
    /* margin-left:.4rem; */
}
.circle:hover{
    border: var(--Pink) solid thin;
    color:var(--Pink);
    
}
.circle-facebook{
    color: #000;
    border: #000 solid thin;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    margin-left:.2rem;
}
.circle-facebook:hover{
    border: var(--Pink) solid thin;
    color:var(--Pink);  
}
.circle:hover{
}

@media screen and (max-width:1000px)  {
    .logo{
        width:40%;
    }
    .floating-card{
        top:10px;
        width:90%;
    }
    .floating-card-btn{
        /* width:70%; */
    }
    .footer-logo{
        width:25%;
        
    }
}